Repository Herobone/Sober-Sailor, pull requests merged in 2021-09, with the labels that each got.

#272 Translations update from Weblate
  README.md
  client/src/translations/locales/de.json
Labels: Translation

#276 Translations update from Weblate
  .github/workflows/firebase-hosting-beta.yml
  .github/workflows/firebase-hosting-merge.yml
  client/src/translations/locales/de.json
  client/src/translations/locales/de_AT.json
  client/src/translations/locales/en.json
  client/src/translations/locales/nb_NO.json
Labels: Translation

#277 Questions
  .github/workflows/firebase-hosting-merge.yml
  tasks/truthordare/de.json
  tasks/truthordare/en.json
  tasks/whowouldrather/en.json
  tasks/wouldyourather/de.json
  tasks/wouldyourather/en.json
Labels: Tasks

#278 Translations update from Weblate
  client/src/translations/locales/de.json
  client/src/translations/locales/fr.json
  client/src/translations/locales/it.json
Labels: Translation

#280 Add more language support
  .github/workflows/client-build.yml
  .github/workflows/firebase-hosting-beta-client.yml
  .github/workflows/firebase-hosting-beta-functions.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/functions.yml
  client/package-lock.json
  client/package.json
  client/src/Components/Functional/GameCreator.tsx
  client/src/Components/Functional/Logout.tsx
  client/src/Components/Functional/MixedGameProvider.tsx
  client/src/Components/Sites/Gamemodes/Mixed.tsx
  client/src/Components/Sites/Home.tsx
  client/src/Components/Sites/Login.tsx.disabled
  client/src/Components/Sites/Settings.tsx
  client/src/Components/Visuals/GlobalOverlay.tsx
  client/src/Components/Visuals/Leaderboard.tsx
  client/src/Components/Visuals/PenaltyScreen.tsx
  client/src/Components/Visuals/ResultPage.tsx
  client/src/gamemodes/TruthOrDare.tsx
  client/src/gamemodes/WhoWouldRather.tsx
  client/src/gamemodes/tictactoe/TicTacToe.tsx
  client/src/gamemodes/wouldyourather/WouldYouRather.tsx
  client/src/tests/Index.test.tsx
  client/src/translations/DefaultTranslationProvider.tsx
  client/src/translations/LanguageContainer.tsx
  client/src/translations/TranslatedMessage.tsx
Labels: Gamemode, Frontend

#282 Translations update from Weblate
  client/src/translations/locales/en.json
Labels: Translation
